/* Logo
--------------------------------------------- */
.wp-block-site-logo {
	.custom-logo.default {
		max-width: 160px !important;
		height: auto;
		padding: 20px 6px;
	}
	&:not(.light-logo) {
		.custom-logo.default {
			background: #ffffffb3;
		}
	}
	&.light-logo {
		.custom-logo.default {
			filter: invert(1);
			@media screen and (max-width: 768px){
				padding: 0px;
			}
		}
	}
}

/* Navigation
--------------------------------------------- */
header {
	.wp-block-navigation {
		.current-menu-item {
			border-bottom: 2px solid var(--wp--preset--color--primary);
		}	
		/* Drop nav */
		.wp-block-navigation__submenu-container {
			border: none !important;
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--line-height--initial);
			border-radius: 5px;
			min-width: 200px !important;
			padding-top: .75rem;
			box-shadow: 1px 3px 8px rgba(0,0,0,.1);
			/* Drop nav submenu */
			.wp-block-navigation__submenu-container {
				margin-left: -5px;
				margin-top: calc(var(--wp--preset--spacing--xx-small) * -1);
			}
		}
		.has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
			margin-right: var(--wp--preset--spacing--xx-small);
		}
		:where(.wp-block-navigation__submenu-container) a {
			padding: var(--wp--preset--spacing--xx-small) var(--wp--preset--spacing--x-small) !important;
		}
		@media only screen and (min-width: 600px) {
			:where(.wp-block-navigation__submenu-container) li:last-child {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	@media only screen and (min-width: 600px) {
		nav {
			padding-right: var(--wp--preset--spacing--medium);
		}
	}	
}

/* Mobile Navigation */
.is-menu-open {
	&.has-modal-open {
		.wp-block-navigation__container {
			width: 100%;
			gap: 0 !important;
			ul {
				margin-left: 1rem;
				&.wp-block-navigation__submenu-container {
					border-radius: 0;
					margin: 5px 0;
				}
				li:hover a:hover:before {
					text-decoration: none;
				}
			}
			> li {
			   width: 100%;
			   padding: 0 0;
			   position: relative;
			   /* Adjust the first mobile menu item to prevent conflict with menu close button */
			   &:first-child > a {
				   padding-top: 0 !important;
				   max-width: 90%;
			   }
			}
			/* Button class on mobile */
			.wp-element-button {
				margin-top: var(--wp--preset--spacing--xx-small);
				.wp-block-navigation-item__content {
					width: 100%;
					text-align: center;
					font-size: var(--wp--preset--font-size--base);
					padding: var(--wp--preset--spacing--xx-small) !important;
				}
			}
		}
		/* Mobile menu sub menu */
		.wp-block-navigation-item .wp-block-navigation__submenu-container {
			padding: 0 0 0 var(--wp--preset--spacing--large);
			font-size: var(--wp--preset--font-size--base);
			margin-left: 0;
			width: 100% !important;
		}
		/* Mobile menu links */
		.wp-block-navigation-item__content {
			width: 100%;
			padding: var(--wp--preset--spacing--xx-small) 0 !important;
		}
	}
	.wp-block-navigation__submenu-container {
		background: var(--wp--preset--color--tertiary);
		box-shadow: none !important;
		padding-top: var(--wp--preset--spacing--xx-small);
	}
}

/* Mobile menu open button */
.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
	padding: 4px;
	border-radius: 3px;
}

/* Patterns */
*[style="text-decoration:none"] > a:where(:not(.wp-element-button)) {
	text-decoration: inherit;
}

/* Custom templates */
@media only screen and (max-width: 781px){
	.post-template-post-with-left-sidebar .wp-block-column:nth-child(1) {
		order: 1;
	}
}

/* Footer */
footer.wp-block-template-part {
	margin-top: 0 !important;
	@media screen and (max-width: 768px) {
		.wp-block-spacer {
			display: none;
		}
		
	}
}

/* Deco Extra Styles */
.decor-text-beauty .wp-block-cover__background:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	/* Use a CSS variable injected from PHP that points to the theme asset URL. */
	background-image: var(--janeth-beauty-image);
	background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 20%;
}

/* Font Fallback for Kanit */
@font-face {
  font-family: "Kanit Fallback";
  src: local("Arial");
  size-adjust: 100.3%;   /* fine-tune by 0.5% increments */
  ascent-override: 91%;  
}