<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:pattern {"slug":"blockstarter/header-image"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|x-small","left":"var:preset|spacing|x-small","top":"0","bottom":"var:preset|spacing|large"}}},"className":"main-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main-content" style="padding-top:0;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--x-small)">
	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--small)">
		<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
	</main>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->